#Contacto {
     display: flex;
    background-color: #F3EFE8; 
    border-radius: 16px; 
    padding: 20px; 
    margin: 40px auto; 
    width: 959px;
    height: 490px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#Contacto h2 {
   font-family: "Varta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    background-color: #F3EFE8;
    text-align: center;
    color: #333; 
    text-transform: uppercase;
    margin-bottom: 25px; 
}
#Contacto .form-control {
    
    background-color: #ffffff; 
    border-radius: 5px;
    color: #333;
    padding: 10px;
}

#Contacto .btn-success {
    
    font-family: 'Varta', sans-serif;
    background-color: #6b8e23; 
    color: #ffffff; 
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
#forms{
    margin-top: 75%;
}
#Contacto .btn-success:hover {
    background-color: #6f9f2b; 
}