.top-search-bar {
    font-size: 24px;
    font-family: 'Varta', sans-serif;
    font-weight: 700;
}

.category-btn {
    font-size: 1.5em; 
    width: 3em; 
    height: 3em; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-btn img {
    max-width: 100%;
    max-height: 100%;
}

.category-btn.active {
    border: 2px solid var(--primary-color);
}

