@import url('https://fonts.googleapis.com/css2?family=Varta:wght@700&family=Mandali&family=Inter:wght@300;600&family=Wellfleet&display=swap');

/* Tipografías personalizadas */
.varta-bold {
  font-family: "Varta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.varta-16{
  font-family: "Varta", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-semi-bold {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.wellfleet-regular {
  font-family: "Wellfleet", serif;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
}

/* ----- Botones Inicio de Sesión y Registrate ----- */

/* Estilo del botón */
.btn-mex {
  width: 250px;
  height: 65px;
  border-radius: 16px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  box-sizing: border-box;
}

/* Posición del botón*/
.buttons {
  position: absolute;
  top: 75vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* ----- Modal Inicio de Sesión y Registrate ----- */

.form-control-mex{
  border:0;
  background:#F0F0F0;
  height:44px;
  border-radius:12px;
  padding:0 14px;
}

.form-control-mex:focus{
  box-shadow: 0 0 0 0.2rem rgba(255,255,255,.4);
}

#loginModal .modal-dialog {
  max-width: 1200px;
  margin: 1.75rem auto;
  width: 90%;
}

#loginModal .modal-content {
  min-height: 600px;
}

#loginModal .row { 
  min-height: 600px;
}

#registerModal .modal-dialog { 
    max-width:1200px; 
    margin:1.75rem auto;
    width:90%; 
}

#registerModal .modal-content > .row {
  min-height: 600px;
}

.step-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
  min-height: 600px;
}

.step-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-confirmar {
  font-size: 1rem;
}

/* Tarjetas de la sección "Nosotros" */
#nosotros .card {
    border-radius: 1rem;
    overflow: hidden;
    width: 398px;
    height: 739px;
    display: flex;
    flex-direction: column;
}

/* Estilo para las imágenes de misión y visión */
.img-card-icon {
    width: 400px;
    margin: 1rem auto;
    display: block;
}
.img-card-icon-2 {
    width: 190px;
    margin: 1rem auto;
    display: block;
}

/* Estilo para la imagen de perfil del equipo */
.img-card-icon-equipo {
    width: 389px;
    height: 389px;
    object-fit: contain;
    margin: 1rem auto;
    display: block;
}

/* Estilo para las flechas de navegación del carrusel */
#equipoCarousel .carousel-control-prev,
#equipoCarousel .carousel-control-next {
    filter: invert(100%);
}
